<?xml version="1.0" ?>
<robot name="hex_prism">
  <link name="hex_prism">
    <visual>
      <geometry>
        <mesh filename="hex_prism.obj" scale="3 3 4"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <mesh filename="hex_prism.obj" scale="3 3 4"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="1"/>
      <inertia ixx="0.01" iyy="0.01" izz="0.01" ixy="0" ixz="0" iyz="0"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
    </inertial>
  </link>
</robot>
